body{
    background-color:#7575fa ;
    padding: auto;
}
h1{
    text-align: center;
    color: white;
}
.pf{
    background-color: white;
    width: 70%;
    margin: auto;
}
button{
    background-color: #7575fa;
    padding: 10px;
    color: white;
    border: none;
    margin: 50px;
}
button:hover{
    background-color: bisque;
    color: black;
}
input{
    padding: 5px;
    margin: 20px;
}
textarea{
    margin:30px;
    height: 90px;
    width: 90%;
}
.name{
    width: 90%;
}
.submit{
    color: white;
    background-color: #7575fa;
    padding: 10px;
    border: none;
    margin: 50px;
}
.submit:hover{
    background-color: bisque;
    color: black;
}
.if {
    text-align: center;
}
.mf{
    margin: 40px;
}
.ad{
    text-align: center;
}
